* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    list-style: none;
}

section, div {
    padding: 15px 0;
    width: 100%;
    max-width: 1180px;
}

body, html, #root {
    width: 100vw;
    max-width: none;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

header, footer, main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2, li, p {
    color: #F2F2F2;
}

button {
    cursor: pointer;
}

@media (min-width: 768px){
    section, div {
        padding: 20px 0;
    }
}