.card-pequeno-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
    height: 100px;
}

.card-pequeno-container > img {
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.card-pequeno-container > b {
    margin: 0 10px 0 0;
}